@page "/"
@using System.Net.Http;
@using System.IO;

@code{

}

<html>
<style>
  html, body {margin: 0; height: 100%; overflow: hidden}
</style>

<body style="height: 100%; ">
  <div style="position:absolute; left:0; right:0; width:110%; height:60px; background-color:blue">
    <form >
      <div style="margin: 1vw">
    <input type="text">
    <input type="submit"></div>
    </form>
  </div>
  <div style="height: 100%; width: 100%"></div>
</body>
</html>

@code{

}
