@page "/"
@using System.Net.Http;
@using System.IO;

@code{}


<body style="height: 100%;">
  <div style="margin-left:-2rem; width:104%; height:40px; background-color:blue">
  </div>
</body>


@code{  }
