@page "/"
@using System.IO;


<body>
  <div style="margin-left:-2rem; width:120%; height:40px; background-color:blue">
    <button style="margin-left: 2rem; margin-top: 0.4rem">New</button>
    <input type="text" width="100px" />
    <button style="margin-left: 0rem; margin-top: 0.4rem">Submit</button>
    <button style="margin-left: 0rem; margin-top: 0.4rem">Save</button>
    <button style="margin-left: 0rem; margin-top: 0.4rem">Print</button>
  </div>
  <iframe id="page id" style="width:48%; height:100%"></iframe>
  <iframe id="page id" style="width:50%; min-height:100%"></iframe>

</body>

