@page "/"
@using System.Net.Http;
@using System.IO;

@code{}

<style>
  html, body {margin: 0; height: 100%; overflow: hidden}
</style>

<body style="height: 100%; ">
  <div style="margin-top: -1.1rem; width:110%; height:60px; background-color:blue">
  </div>
</body>


@code{  }
