@page "/"
@using System.IO;

@code{
  public string url { get; set; } = "";
}


<body>
  <div style="margin-left:-2rem; width:120%; height:40px; background-color:blue">
    <button style="margin-left: 2rem; margin-top: 0.4rem">New</button>
    <input @bind="url" type="text" width="100px" />
    <button @onclick="urlsubmit" style="margin-left: 0rem; margin-top: 0.4rem">Submit</button>
    <button style="margin-left: 0rem; margin-top: 0.4rem">Save</button>
    <button style="margin-left: 0rem; margin-top: 0.4rem">Print</button>
  </div>
  <iframe src="@verifystring" id="page id" style="width:48%; height:500%"></iframe>
  <iframe id="page id" style="width:50%; min-height:500%"></iframe>

</body>

@code{
  void urlsubmit()
      {
          if (url != null)
          {
              string v = verifystringd(url);
              if (v != null)
              {
                  verifystring = v;
                  Console.WriteLine(verifystring);
              }
          }
      }
      private string verifystring { get; set; }
      private string? verifystringd(string url)
      {
          if (url.StartsWith("view-source:"))
              url = url.Remove(0, 12);

          if (url.StartsWith("https://") || url.StartsWith("https://"))
              return url;
          else return null;
      }
}
